{% extends 'auth_portal/supervisor_profile_inactive.html' %}

{% block panel_body %}
<form class="info_block" method="post">
    {% csrf_token %}
    <div class="g_elem supfio"><p>ФИО: <p>{{ fio }}</p></p></div>
    <div class="g_elem supprof"><p>*Должность научного руководителя:</p><textarea name="profession" maxlength="250">{{ profession }}</textarea></div>
    <div class="g_elem supdep"><p>*Кафедра:</p><textarea name="department" maxlength="100">{{ department }}</textarea></div>
    <div class="g_elem supmail"><p>Почта: <p>{{ mail }}</p></p></div>
    <div class="g_elem supphone"><p>Телефон: <p>{{ phone }}</p></div>
    <div class="g_elem suporcid"><p>ORCID:</p><textarea name="orcid" maxlength="100">{{ orcid }}</textarea></div>
    <div class="g_elem supinterest"><p>Области научного интереса:</p><textarea name="interest" maxlength="300">{{ interest }}</textarea></div>
    
    <div class="form_buttons">
        <button type="submit" class="save button"><p>Сохранить</p></button>
    </div>
</form>
{% endblock %}

{% block panel_footer %}
<div class="options">
    <a href="javascript:history.back()" class="enter_cabinet button"><div><p>Личный Кабинет</p></div></a>
    <a class="attach_portfolio button"><div><p>Прикрепить мое Портфолио</p></div></a>
    <a class="download_portfolio button"><div><p>Скачать мое Портфолио</p></div></a>
</div>
{% endblock %}
    



