{% load static %}
<!DOCTYPE html>
<html lang="rus">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'auth_portal/styles/auth.css' %}">
        <title>Страница Авторизации</title>
    </head>

    <body>
        <div class="wrapper">
            <section class="fullscreen">
                <div class="fullscreen__body">
                    <form class="auth-panel" method="post">
                        {% csrf_token %}
                        <div class="elem-1">
                            <p class="login title">Логин</p>
                            <input type="text" class="login field" name="userlogin" minlength="5" maxlength="255">
                        </div>
                        <div class="elem-2">
                            <p class="password title">Пароль</p>
                            <input type="password" class="password field" name="userpass" minlength="5" maxlength="50">
                        </div>
                        <div class="elem-3">
                            <button type="submit" class="enter button"><p class="password title">Войти</p></button>
                        </div>
                        {% block error_message%}{% endblock %}
                    </form>
                </div>
            </section>
        </div>
    </body>

