{% extends 'auth_portal/profile_layout.html' %}

{% block title  %}Профиль Пользователя{% endblock %}

{% block panel_header %}
<h1 class="panel-title">ИНФОРМАЦИЯ О НАУЧНОМ РУКОВОДИТЕЛЕ</h1>
{% endblock %}

{% block panel_body %}
<form class="info_block" method="post">
    {% csrf_token %}
    <div class="g_elem supfio"><p>ФИО: <p>{{ fio }}</p></p></div>
    <div class="g_elem supprof"><p>*Должность научного руководителя:</p><textarea name="prof" maxlength="250"></textarea></div>
    <div class="g_elem supdep"><p>*Кафедра:</p><textarea name="dep" maxlength="100"></textarea></div>
    <div class="g_elem supmail"><p>Почта: <p>{{ mail }}</p></p></div>
    <div class="g_elem supphone"><p>Телефон: <p>{{ phone }}</p></div>
    <div class="g_elem suporcid"><p>ORCID:</p><textarea name="orcid" maxlength="100"></textarea></div>
    <div class="g_elem supinterest"><p>Области научного интереса:</p><textarea name="interest" maxlength="300"></textarea></div>
    <div class="hidden-block" hidden><input name="POST-status" value="True"></div>

    <div class="form_buttons">
        {% block home_button %}{% endblock %}
        <button type="submit" class="save button"><p>Сохранить</p></button>
        <button type="reset" class="reset button"><p>Очистить</p></button>
    </div>
</form>
{% endblock %}






